[graph]
targets = []
all-features = true

[advisories]
version = 2
yanked = "warn"
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"

[licenses]
version = 2
confidence-threshold = 0.9
allow = [
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CDLA-Permissive-2.0",
  "ISC",
  "MIT",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
]
exceptions = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
